.slider-content{
	padding-top: 200px;
 opacity: '.1';
}
.preview-btn{
		padding: 10px;
		border: 2px solid blue;
		background-color: rgba(0, 0, 0, 0.521);
		border-radius: 10px;
		margin-top: 142px;
		color: white;
		transition: .3s;
	
}
.preview-btn:hover{
	
	background-color: #6047ec;
	transition: .3s;


}
.image-box:hover .service-details-info{
    
    display: block;
    background-color: #000000dc;
   transition: 3s;
    
}

.image-box:hover{
    transform: scale(1.03);
    border-radius: 10px;

}
